extends ../tutorial

block title
  +title('Upload files')

block description
  +description('Learn how to allow users to upload files that live through server restarts.')

block article
  include:marked ./README.md
