extends layout

block body
  body.homepage

    include nav

    .hero
    article.loading(data-src='README.md')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js')
    script(src='https://cdn.jsdelivr.net/umbrella/2.6.7/umbrella.min.js')
    script(src='https://unpkg.com/superdom@0')
    script(src='https://unpkg.com/marked@0.3.6')
    script(src='/public/javascript.js')
