<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/umbrellajs"></script>
    <script src="https://unpkg.com/socket.io-client@2/dist/socket.io.slim.js"></script>
  </head>
  <body>
    <h1>Ping Pong</h1>
    <ul></ul>

    <script>
      var socket = io();
      socket.on('connect', e => {
        console.log('Connected');
      });

      let counter = 0;
      socket.on('there', async data => {
        console.log('Received Ping', new Date());
        const date = new Date();
        const seconds = String(date.getSeconds()).padStart(2, 0);
        const minutes = String(date.getMinutes()).padStart(2, 0);
        const hour = String(date.getHours()).padStart(2, 0);
        u('ul').prepend(`<li>${hour}:${minutes}:${seconds}</ul>`);

        await new Promise(done => setTimeout(done, 1000));

        console.log('Send ping', new Date());
        socket.emit('hello', ++counter);
      });

      console.log('Send ping');
      socket.emit('hello', counter);
    </script>
  </body>
</html>
