extends ../_layout/index

block extra
  div.width-1100

block content
  article.documentation
    div.flex
      //- Need this so the parent of .toc has a width and we position it respect.
      div.side
        include ./toc.pug
      div.main
        block article
