extends ../_layout/index

block extra
  div.width-1100

block content
  article.documentation
    div.flex
      //- Need this so the parent of .toc has a width and we position it respect.
      include ./toc.pug
      div.main
        block article

        - var topics = require('./docs/documentation/index.json');

        h2#keep-reading Keep reading

        p List of all the topics:

        div.pages
          a.button(href="/documentation/") Introduction
          a.button(href="/documentation/options/") Options
          a.button(href="/documentation/context/") Context
          a.button(href="/documentation/router/") Router
          a.button(href="/documentation/reply/") Reply
