extends ../_layout/index

block content
  .hero
    .content
      h1 
        strong Documentation
      pre.sub npm install server
      div.pages
        a.button(href="options") Options
        a.button(href="middleware") Middleware
        a.button(href="router") Router
        a.button(href="advanced") Advanced

  article
    include:marked:noheader ./README.md
