section.toc
  h2
    a(href="/documentation/#top") Documentation
  ul
    li
      label.more ›
      a(href="/documentation/options/#top") Options
      ul
        li
          a(href="/documentation/options/#port")
            code port
        li
          a(href="/documentation/options/#secret")
            code secret
        li
          a(href="/documentation/options/#public")
            code public
        li
          a(href="/documentation/options/#views")
            code views
        li
          a(href="/documentation/options/#engine")
            code engine
        li
          a(href="/documentation/options/#env")
            code env
        li
          a(href="/documentation/options/#log")
            code log
        li
          a(href="/documentation/options/#core")
            code core
    li
      label.more ›
      a(href="/documentation/middleware/#top") Middleware
      ul
        li 
          a(href="/documentation/middleware/#parameters") Parameters [TBD]
        li 
          a(href="/documentation/middleware/#context") Context
        li 
          a(href="/documentation/middleware/#synchronous") Synchronous
        li 
          a(href="/documentation/middleware/#asynchronous") Asynchronous
        li 
          a(href="/documentation/middleware/#express-middleware") From express.js
    li
      label.more ›
      a(href="/documentation/router/#top") Router
      ul.size-100
        li
          a(href="/documentation/router/#rest") get()
        li
          a(href="/documentation/router/#rest") post()
        li
          a(href="/documentation/router/#rest") put()
        li
          a(href="/documentation/router/#rest") del()
        li
          a(href="/documentation/router/#error") error()
        li
          a(href="/documentation/router/#websockets") socket()
        li
          a(href="/documentation/router/#") sub() [TBD]
    li
      label.more ›
      a(href="#") Reply [TBD]
      ul
        li
          a(href="#") cookie() [TBD]
        li
          a(href="#") download() [TBD]
        li
          a(href="#") end() [TBD]
        li
          a(href="#") file() [TBD]
        li
          a(href="#") header() [TBD]
        li
          a(href="#") json() [TBD]
        li
          a(href="#") jsonp() [TBD]
        li
          a(href="#") redirect() [TBD]
        li
          a(href="#") render() [TBD]
        li
          a(href="#") send() [TBD]
        li
          a(href="#") status() [TBD]
        li
          a(href="#") type() [TBD]
    li
      label.more ›
      a(href="#") Errors [TBD]
      ul
        li
          a(href="#") PortAlreadyUsed [TBD]
        li
          a(href="#") MissingMiddleware [TBD]
        li
          a(href="#") InvalidMiddleware [TBD]
    li
      label.more ›
      a(href="/documentation/advanced/#top") Advanced
      ul
        li
          a(href="/documentation/advanced/#creating-middleware") Write middleware
        li
          a(href="/documentation/advanced/#") Write plugins [TBD]
        li
          a(href="/documentation/advanced/#") Contributing [TBD]
