//-section.toc
//-  h2
//-    a(href="/documentation/") Documentation
//-  ul
//-    each tutorial, frag in documentation
//-      li
//-        if (tutorial.sections.length)
//-          label.more ›
//-        a(href="/documentation/" + frag + "/")= tutorial.title
//-        if (tutorial.sections.length)
//-          ul
//-            each name in tutorial.sections
//-              li
//-                a(href="/documentation/" + frag + "/#" + slug(name))= name
//-
 
section.toc
  h2
    a(href="/documentation/") Documentation
  ul
    li
      label.more ›
      a.good(href="/documentation/options/") Options
      ul
        li
          a.good(href="/documentation/options/#port") port
        li
          a.good(href="/documentation/options/#secret") secret
        li
          a.good(href="/documentation/options/#public") public
        li
          a.good(href="/documentation/options/#views") views
        li
          a.good(href="/documentation/options/#engine") engine
        li
          a.good(href="/documentation/options/#env") env
        li
          a.good(href="/documentation/options/#log") log
        li
          a.mid(href="/documentation/options/#core") core
    li
      label.more ›
      a.mid(href="/documentation/middleware/") Middleware
      ul
        li 
          a.mid(href="/documentation/middleware/#context") Context
        li 
          a.good(href="/documentation/middleware/#synchronous") Synchronous
        li 
          a.mid(href="/documentation/middleware/#asynchronous") Asynchronous
        li 
          a.mid(href="/documentation/middleware/#asynchronous") Return value
        li 
          a.mid(href="/documentation/middleware/#express-middleware") From express
    li
      label.more ›
      a.good(href="/documentation/router/") Router
      ul.size-100
        li
          a.good(href="/documentation/router/#get-") get()
        li
          a.good(href="/documentation/router/#post-") post()
        li
          a.good(href="/documentation/router/#put-") put()
        li
          a.good(href="/documentation/router/#del-") del()
        li
          a.good(href="/documentation/router/#error-") error()
        li
          a.good(href="/documentation/router/#sub-") sub()
        //- li
        //-   a.mid(href="/documentation/router/#websockets") socket()
    li
      label.more ›
      a.good(href="/documentation/reply/") Reply
      ul
        li
          a.good(href="/documentation/reply/#cookie-") cookie()
        li
          a.good(href="/documentation/reply/#download-") download()
        //- li
        //-   a.bad(href="/documentation/reply/#file-") file()
        li
          a.good(href="/documentation/reply/#header-") header()
        li
          a.good(href="/documentation/reply/#json-") json()
        li
          a.good(href="/documentation/reply/#jsonp-") jsonp()
        li
          a.good(href="/documentation/reply/#redirect-") redirect()
        li
          a.good(href="/documentation/reply/#render-") render()
        li
          a.good(href="/documentation/reply/#send-") send()
        li
          a.good(href="/documentation/reply/#status-") status()
        li
          a.good(href="/documentation/reply/#type-") type()
    li
      label.more ›
      a.bad(href="#") Testing
        ul
          li
            a.bad(href="#") Setup
          li
            a.bad(href="#") Unit
          li
            a.bad(href="#") Integration
          li ...
    li
      label.more ›
      a.bad(href="#") Errors
      ul
        li
          a.bad(href="#") PortAlreadyUsed
        li
          a.bad(href="#") MissingMiddleware
        li
          a.bad(href="#") InvalidMiddleware
    li
      label.more ›
      a.bad(href="/documentation/advanced/") Advanced
      ul
        li
          a.mid(href="/documentation/advanced/#creating-middleware") Write middleware
        li
          a.bad(href="/documentation/advanced/#") Write plugins
        li
          a.bad(href="/documentation/advanced/#") Contributing
