section.toc
  h2
    a(href="/documentation/") Documentation
  form.searchform
    input.search(placeholder="search")
  div.searchbox
  ul
    each section, frag in documentation
      li
        if (section.sections.length)
          label.more
        a(href=section.url || "/documentation/" + frag + "/")= section.title
        if (section.sections.length)
          ul
            each name in section.sections
              li
                a(href=(section.url || "/documentation/" + frag + '/') + "#" + slug(name))= name
