extends ./tutorial

block title
  +title('Tutorials')

block description
  +description('Discover a world of tutorials for server.js with many Node.js exercises.')

block article
  h1 Tutorials
  
  p Create awesome things with server.js. A collection of practical examples, from small tweaks to server.js to fully working webapps. Tutorials available:

  div.card
    header
      h2 Getting started
    footer
      p Get started by creating a Node.js project from scratch and get started.
      a.button(href="/tutorials/getting-started/") Read tutorial

  div.card
    header
      h2 Sessions in production
    footer
      p Learn how to set-up the session for production using Redis or other available datastores so there's persistence even after a server restart.
      a.button(href="/tutorials/sessions-production/") Read tutorial

  div.card
    header
      h2 TO-DO list
    footer
      p Simple TO-DO website using jQuery for the AJAX. Define an API to create, read, update and delete items from a MongoDB database.
      a.button(href="/tutorials/todo/") Read tutorial
      |  
      a.button(href="https://github.com/franciscop/server-tutorial-todo") Source code

  div.card
    header
      h2 Spreadsheets data
    footer
      p Take a Google Spreadsheet and convert it into a read-only database for Node.js.
      a.button(href="/tutorials/spreadsheet/") Read tutorial
      |  
      a.pseudo.button(href="https://github.com/franciscop/server-tutorial-spreadsheet") Source code

  div.card
    header
      h2 Realtime chat
    footer
      p Create a realtime chat with socket.io. You will choose a username on launch and then write to everyone reading the chat.
      a.button(href="/tutorials/chat/") Read tutorial
      |  
      a.pseudo.button(href="https://github.com/franciscop/tokyochat") Source code
    
