extends ../_layout/index

block title
  +title('Tutorials')

block description
  +description('Discover a world of tutorials for server.js with many Node.js exercises.')

block content
  .hero
    .content
      h1 
        strong Tutorials
      .sub Learn server.js with examples
      a.button.docs(href='/')
        span.arrow.left 〈
        | Homepage
      a.button.docs(href='/documentation/')
        | Documentation

  article
    p Tutorials for the back-end and front-end with Node.js and server.js:

    div.card
      header
        h2 Getting started
      footer
        p Get started by creating a Node.js project from scratch and get started.
        a.button(href="/tutorials/getting-started/") Read tutorial

    div.card
      header
        h2 Sessions in production
      footer
        p Learn how to set-up the session for production using Redis or other available datastores so there's persistence even after a server restart.
        a.button(href="/tutorials/sessions-production/") Read tutorial

    //- div.card
    //-   header
    //-     h2 TO-DO list
    //-   footer
    //-     p Simple TO-DO website using jQuery for the AJAX. Define an API to create, read, update and delete items from a MongoDB database.
    //-     a.button(href="/tutorials/todo/") Read tutorial
    //-     |  
    //-     a.button(href="https://github.com/franciscop/server-tutorial-todo") Source code

    div.card
      header
        h2 Spreadsheets data
      footer
        p Take a Google Spreadsheet and convert it into a read-only database for Node.js.
        a.button(href="/tutorials/spreadsheet/") Read tutorial
        |  
        a.button(href="https://github.com/franciscop/server-tutorial-spreadsheet") Source code
      
