section.toc
  h2
    a(href="/tutorials/#top") Tutorials
  ul
    each tutorial, frag in tutorials
      li
        if (tutorial.sections.length)
          label.more
        a(href="/tutorials/" + frag + "/")= tutorial.title
        if (tutorial.sections.length)
          ul
            each name in tutorial.sections
              li
                a(href="/tutorials/" + frag + "/#" + slug(name))= name
