extends ../_layout/index

block extra
  div.width-1100

block content
  article.tutorial
    div.flex
      //- Need this so the parent of .toc has a width and we position it respect.
      include ./toc.pug
      div.main
        block article

        h2#keep-reading Keep reading

        p Subscribe to our Mailchimp list to receive more tutorials when released:

        a.button(href="http://eepurl.com/cGRggH") Get Great Tutorials
