extends ../_layout/index

block extra
  div.width-1200

block content
  article.tutorial
    div.flex.one.three-900
      div.full.third-900
        include ./toc.pug
      div.full.two-third-900
        block article
