extends ../_layout/index

block extra
  div.width-1100

block content
  article.tutorial(style="max-width: 1100px")
    div.flex.one.three-900
      div.full.third-900(style="width: 30%")
        include ./toc.pug
      div.full.two-third-900(style="width: 70%")
        block article
