extends layout

block content
  aside(data-headers="h1, h2, h3")
    ul

  article
    //- include:marked ../documentation/README.md
    include:marked ../documentation/server.md
    include:marked ../documentation/options.md
    include:marked ../documentation/middleware.md
    include:marked ../documentation/router.md
    include:marked ../documentation/in-depth.md
