doctype html
html.initial
  head
    block title
      title Server.js
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='keywords' content='server, javascript, js, node.js, library, html, html5, express')
    meta(name='description' content='Flexible server for Node.js')
    meta(property='og:url' content='http://serverjs.io/')
    meta(property='og:title' content='Server.js')
    meta(property='og:description' content='Flexible server for Node.js')
    link(href='https://unpkg.com/paperdocs@0/paperdocs.min.css' rel='stylesheet')
    link(href='https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css' rel='stylesheet')
    style.
      .from-h3 .button::before {
        content: "- ";
      }

  block body
    body.homepage
      
      include nav
  
    block content

    script(src="https://unpkg.com/paperdocs@0/paperdocs.min.js")
    script(src="//localhost:35729/livereload.js")
