nav.super
  a.brand(href='/')
    img.logo(src='/public/logo.svg')
    span.text Server
  input#bmenu.show(type='checkbox')
  label.burger.pseudo.button.switch(for='bmenu')
  header
    strong Server.js
  .menu(data-headers='h1, h2, h3')
    ul.flex.one
  footer
    .flex.three
      a.pseudo.button(href='/about')
        i.fa.fa-info
        | About
      //- Space between the buttons
      = ' '
      a.pseudo.button(href='https://github.com/serverjs/server', target='_blank')
        i.fa.fa-github-alt
        | Github
      = ' '
      a.button(href='/documentation')
        i.fa.fa-file-code-o
        | Documentation
