extends ../documentation

block title
  +title('Options documentation')

block description
  +description('The different options and how to use them to make Node.js development easier.')

block article
  include:marked ./README.md
