extends ../../_layout/index

block title
  +title('Options documentation')

block description
  +description('The different options and how to use them to make Node.js development easier.')

block content
  .hero
    .content
      h1 
        strong Options
      a.button.docs(href='/documentation')
        span.arrow.left 〈
        | All documentation

  article.documentation
    div.flex.one.three-700.four-1000
      div.full.third-700.fourth-1000
        include ../toc.pug
      div.full.two-third-700.three-fourth-1000
        include:marked:noheader ./README.md

        h2#keep-reading Keep reading

        p Once you master the options there are few topics to keep going on:

        div.pages
          a.button(href="../middleware") Middleware
          a.button(href="../router") Router
          a.button(href="../advanced") Advanced
