extends ../../_layout/index

block content
  .hero
    .content
      h1 
        strong Options
      a.button.docs(href='/documentation')
        span.arrow.left 〈
        | All documentation

  article
    include:marked:noheader ./README.md



    h2#keep-reading Keep reading

    p Once you master the options there are few topics to keep going on:

    div.pages
      a.button(href="../middleware") Middleware
      a.button(href="../router") Router
      a.button(href="../advanced") Advanced
