extends ../../_layout/index

block content
  .hero
    .content
      h1 
        strong Router
      a.button.docs(href='/documentation')
        span.arrow.left 〈
        | All documentation

  article
    include:marked:noheader ./README.md
