extends ../documentation

block title
  +title('Router documentation')

block description
  +description('Handle different types of requests, including making a REST API, websockets and subdomain management.')

block article
  include:marked ./README.md
