extends ../tutorial

block title
  +title('Spreadsheet tutorial')

block description
  +description('Learn how to use a Google Spreadsheet as a database for web applications. Perfect for the confluence of business and web.')

block article
  include:marked ./README.md

  h2#keep-reading Keep reading

  p We are preparing a second part for the tutorial. Subscribe to our Mailchimp list to receive it and other tutorials when released:
    
      
