extends ../../_layout/index

block title
  +title('Middleware documentation')

block description
  +description('Write and use middleware to make things easier with server.js.')

block content
  .hero
    .content
      h1 
        strong Middleware
      a.button.docs(href='/documentation')
        span.arrow.left 〈
        | All documentation

        
  article.documentation
    div.flex.one.three-700.four-1000
      div.full.third-700.fourth-1000
        include ../toc.pug
      div.full.two-third-700.three-fourth-1000
        include:marked:noheader ./README.md

        h2#keep-reading Keep reading

        p Once you master the middleware there are few topics to keep going on:

        div.pages
          a.button(href="../options") Options
          a.button(href="../router") Router
          a.button(href="../advanced") Advanced
