.from-h3 .button::before {
  content: "- ";
}

.hero {
  background: red;
  position: relative;
  width: 100%;
  min-height: 60%;
  margin: 0;
  text-align: center;
  color: #fff;
  background: #58a2df;
  padding: 1px 0;
  transition: min-height 999999s;
}

.hero .content {
  padding: 10px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: 0 auto;
}


body.homepage {
  background: #58a2df;
}

article {
  margin-top: 0;
  margin-bottom: 30vh;
}


.hero h1 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.sub {
  margin: 0;
}

pre.sub {
  padding: 5px 15px;
  text-align: left;
  font-size: 1.4em;
  font-family: monospace;
  font-weight: 300;
  border-radius: 0;
  background: rgba(255, 255, 255, .1);
}

nav.super .switch::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 45px;
}

@media all and (min-width: 500px) {
  .hero .content {
    width: 330px;
    max-width: 100%;
  }
}

@media all and (min-width: 800px) {
  .hero {
    background: #58a2df url("/public/kite.jpg") no-repeat center center scroll;
    background-size: cover;
  }
  .hero .content {
    width: auto;
    max-width: 100%;
  }
  .hero h1 {
    font-size: 2.5em;
  }
  .hero .sub {
    font-size: 1.6em;
  }
}

.button {
  background: #f55;
}

.docs {
  font-weight: bold;
  margin-top: 20px;
  background: #f55;
  padding: .6em 1.2em;
}

.docs i:first-child::before {
  margin-right: 10px;
}

.docs i.fa-angle-right:last-child::before {
  margin-right: 0;
  margin-left: 10px;
}
