extends ../_layout/index

block title
  +title('Sponsor us <3')

block description
  +description('Sponsor server.js to support its mission. Reach many developers with your logo and get a custom workshop for your company!')

block content
  .hero
    .content
      h1 
        strong Sponsor

  article
    include:marked:noheader ./README.md
