extends ../tutorial

block title
  +title('Session in production')

block description
  +description('Learn how to set-up the session for production.')

block article
  include:marked ./README.md

  h2#keep-reading Keep reading

  p Awesome, now that we are ready for production keep it going:

  a.button(href="/tutorials/todo") Now let's do a TODO simple app!
