extends ../documentation

block title
  +title('Reply documentation')

block description
  +description('How to handle different types of responses for any situation.')

block article
  include:marked ./README.md
