extends ../documentation

block title
  +title('Plugins documentation')

block description
  +description('Information about how to create a plugin and why those are useful.')

block article
  include:marked ./README.md
