extends ../../_layout/index
include ../../_layout/mixins

block title
  +title('Getting started - server.js')

block description
  +description('Install and setup a Node.js project from scratch to get started.')

block content
  .hero
    .content
      h1 
        strong Node.js guide
      a.button.docs(href='/tutorials')
        span.arrow.left 〈
        | Tutorials

  article
    include:marked:noheader ./README.md

    h2#keep-reading Keep reading

    p After getting server.js ready you can follow on the rest of the tutorials:
    a.button(href="/tutorials") Tutorials
    
      
