extends ../../_layout/index

block title
  title Getting started - server.js

block description
  meta(name='description' content='Learn how to use a Google Spreadsheet as a database for web applications. Perfect for the confluence of business and web.')

block content
  .hero
    .content
      h1 
        strong Node.js guide
      a.button.docs(href='/tutorials')
        span.arrow.left 〈
        | Tutorials

  article
    include:marked:noheader ./README.md

    h2#keep-reading Keep reading

    p After getting server.js ready you can follow on the rest of the tutorials:
    a.button(href="/tutorials") Tutorials
    
      
