extends ../tutorial

block title
  +title('Getting started')

block description
  +description('Install and setup a Node.js project from scratch to get started.')

block article
  include:marked ./README.md
