extends ../tutorial

block title
  +title('Getting started')

block description
  +description('Install and setup a Node.js project from scratch to get started.')

block article
  include:marked ./README.md

  h2#keep-reading Keep reading

  p After getting server.js ready you can follow on the rest of the tutorials:
  a.button(href="/tutorials") Tutorials
  
    
