extends ../documentation

block title
  +title('Introduction documentation')

block description
  +description('How to get started and basic concepts for server.js.')

block article
  include:marked ./README.md
