include ./mixins.pug

doctype html
html.initial
  head
    block title
      +title()
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='keywords' content='server, javascript, js, node.js, library, html, html5, express')
    block description
      +description('Flexible and powerful server for Node.js')
    link(rel='shortcut icon' type='image/png' href='/img/logo.png')
    meta(property='og:url' content='http://serverjs.io/')
    meta(property='og:image' content='https://serverjs.io/img/code.png')
    link(href='/assets/style.min.css' rel='stylesheet')

  body#top
    block extra
    
    include nav
  
    block content

    script(src="https://unpkg.com/paperdocs@1.0.9/paperdocs.min.js")
    script(src="https://unpkg.com/smoothscroll-polyfill@0.4.0/dist/smoothscroll.js")
    //- include ../assets/umbrella.js
    script
      include ../assets/javascript.js

include ./mixins
