mixin title(text)
  title= text ? text + ' - server.js' : 'Server.js'
  meta(property='og:title' content=text ? text + ' - server.js' : 'Server.js')

mixin description(text)
  meta(name='description' content=text || 'Flexible and powerful server for Node.js')
  meta(property='og:description' content=text || 'Flexible and powerful server for Node.js')
