nav
  a.brand(href='/')
    img.logo(src='/img/split.svg' alt='Main logo for server.js')
    span.text server.js

  input#bmenu.show(type='checkbox')
  label.burger.pseudo.button.switch(for='bmenu') menu
  .menu
    a.pseudo.button(href='/about') About
    a.pseudo.button(href='https://medium.com/server-for-node-js' target='_blank') Blog
    a.pseudo.button(href='https://github.com/franciscop/server' target='_blank') Github
    a.button(href='/documentation') Documentation
