extends layout

block content
  aside(data-headers="h1, h2, h3")
    ul

  article
    //- include:marked ../documentation/README.md
    include:marked ../../documentation/server.md
    include:marked ../../documentation/options.md
    include:marked ../../documentation/middleware.md
    include:marked ../../documentation/router.md
    include:marked ../../documentation/in-depth.md

  script.
    // Replace about.md with #about
    [].slice.call(document.querySelectorAll('a')).filter(function(a){
      return /[a-zA-Z0-9\-]+\.md/.test(a.getAttribute('href'));
    }).forEach(function(a){
      a.setAttribute('href', '#' + a.getAttribute('href').replace('.md', ''));
    });
