extends ../tutorial

block title
  +title('Chat real-time')

block description
  +description('Create a real-time chat with websockets to talk with anyone who visits your site.')

block article
  include:marked ./README.md

  h2#keep-reading Keep reading

  p After getting server.js ready you can follow on the rest of the tutorials:
  a.button(href="/tutorials") Tutorials
  
    
