extends ../tutorial

block title
  +title('Chat real-time')

block description
  +description('Create a real-time chat with websockets to talk with anyone who visits your site.')

block article
  include:marked ./README.md
