extends _layout/index

block content
  .hero
    .content
      h1 
        strong server.js 
        | for Node
      div
        pre.sub npm install server
      a.button.docs(href='/documentation')
        | Documentation
        span.arrow  〉
      a.button.docs(href='/tutorials')
        | Tutorials
        span.arrow  〉

      // Just having some fun (;
      button.secret super secret button


  article.home
    div.features
      div.flex.two.three-600
        div
          img(src="/img/battery.svg")
          h2 Batteries on
          p Everything you need is loaded by default
        div
          img(src="/img/socketio.svg")
          h2 socket.io
          p Realtime channels in a couple of lines
        div
          img(src="/img/modern.svg")
          h2 Modern ES7+
          p Use async/await and forget Callback Hell
        div
          img(src="/img/document.svg")
          h2 Documented
          p Many tutorials and docs for productivity
        div
          img(src="/img/lock.svg")
          h2 Secure
          p Sane defaults & great libraries underneath
        div
          img(src="/img/lego.svg")
          h2 Extensible
          p [upcoming in 1.1]
    
    div.flex.one.three-600
      div.third-600
        a.sponsor(href="https://auth0.com/overview?utm_source=serverjs&utm_medium=devsponsor&utm_campaign=serverjs")
          img(src="/img/logo-auth0.png")
      div
        a.become-sponsor(href="mailto:public@francisco.io?subject=Sponsor-1st-spot") Become a Sponsor
      div.none.third-600
        a.become-sponsor(href="mailto:public@francisco.io?subject=Sponsor-2nd-spot") Your logo here
    
    include:marked:noheader ../README.md


  script.
    function $(sel) { return document.querySelector(sel); }
    $('button.secret').onclick = function () {
      $('body').classList.toggle('liftoff');
    }
