.from-h3 .button::before {
  content: "- ";
}

nav {
  padding-left: calc(50% - 450px);
  padding-right: calc(50% - 450px);
  margin: 0 auto;
}

nav .brand {
  margin-left: .5em;
}

nav .brand .logo {
  margin-right: 1em;
}

nav footer {
  margin-right: 0.5em;
}

.hero {
  background: red;
  position: relative;
  width: 100%;
  height: 60%;
  min-height: 300px;
  margin: 0;
  text-align: center;
  color: #fff;
  background: #58a2df;
  padding: 1px 0;
  transition: min-height 999999s, height 999999s;
}

.hero .content {
  padding: 10px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: 0 auto;
}

.hero .arrow {
  font-size: .7em;
  font-weight: 100000;
  transform: scaleX(1.3) translateY(-1px);
  display: inline-block;
  margin-left: 10px;
}
.hero .arrow.left {
  margin: 0 10px 0 0;
}

body.homepage {
  background: #58a2df;
}

article {
  margin-top: 0;
  margin-bottom: 30vh;
  padding: 3em;
}


.hero h1 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.sub {
  margin: 0;
}

pre.sub {
  padding: 5px 15px;
  text-align: left;
  font-size: 1.4em;
  font-family: monospace;
  font-weight: 300;
  border-radius: 0;
  background: rgba(255, 255, 255, .1);
}

nav.super .switch::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 45px;
}

@media all and (min-width: 500px) {
  .hero .content {
    width: 330px;
    max-width: 100%;
  }
}


button.secret {
  display: none;
}

@media all and (min-width: 800px) {
  .hero {
    background: #58a2df url("/img/kite.jpg") no-repeat center center scroll;
    background-size: cover;
  }

  .hero .content {
    width: auto;
    max-width: 100%;
  }
  .hero h1 {
    font-size: 2.5em;
  }
  .hero .sub {
    font-size: 1.6em;
  }

  button.secret {
    display: block;
    background: none;
    color: rgba(255, 255, 255, .05);
    margin: 0 auto;
    cursor: inherit;
  }

  button.secret:focus {
    box-shadow: none;
    color: rgba(255, 255, 255, .05);
  }

  button.secret:hover {
    box-shadow: none;
    background: rgba(255, 255, 255, .5);
    color: rgba(0, 0, 0, .5);
    transition: all .3s ease .3s;
  }


  body.homepage.liftoff {
    background: #000 url("/img/lanterns.jpg") no-repeat center center scroll;
    background-size: cover;
    transition: all 1s ease;
  }

  body.homepage.liftoff .hero {
    background: none;
  }
}

.button {
  background: #f55;
}

.docs {
  font-weight: bold;
  margin-top: 20px;
  background: #f55;
  padding: .6em 1.2em;
}

.docs i:first-child::before {
  margin-right: 10px;
}

.docs i.fa-angle-right:last-child::before {
  margin-right: 0;
  margin-left: 10px;
}


/* The h1 is already on the hero */
article.home h1,
article.about h1 {
  display: none;
}

article.home p:first-of-type,
article.about p:first-of-type {
    margin-top: 0;
}

@media all and (max-width: 900px) {
  article {
    padding: 15px 20px 20px;
  }
}
