extends ../documentation

block article
  include:marked ./README.md

  h2#keep-reading Keep reading

  p Once you master the errors you should be testing your code:

  div.pages
    a.button(href="../testing") Testing
