extends ../documentation

block title
  +title('Advanced documentation')

block description
  +description('The inner workings and dev documentation for server.js.')

block article
  include:marked ./README.md

  h2#keep-reading Keep reading

  p There are other topics that you might have missed:

  div.pages
    a.button(href="../options") Options
    a.button(href="../context") Context
    a.button(href="../router") Router
