extends ../../_layout/index

block content
  .hero
    .content
      h1 
        strong Advanced
      a.button.docs(href='/documentation')
        span.arrow.left 〈
        | All documentation

  article
    include:marked:noheader ./README.md




    h2#keep-reading Keep reading

    p There are other topics that you might have missed:

    div.pages
      a.button(href="../options") Options
      a.button(href="../middleware") Middleware
      a.button(href="../router") Router
