.toc {
  padding: 0;
  background: #fff;
  overflow-y: auto;
  padding-top: 0;
  margin-left: -.5em;
  margin-bottom: 20px;
  // position: fixed;
}

.toc.fixed {
  position: fixed;
}

.toc h2 {
  font-size: 1.25em;
  margin-left: 0;
  padding-top: 0;
  margin-top: 0;
}

.toc a {
  display: block;
  color: inherit;
  padding: 0 5px 0 10px;
  width: calc(100% - 5px);
}

.toc .label {
  float: right;
  margin-top: 9px;
  margin-right: 2px;
}

.toc a {
  clear: both;
}

.toc a.good::after,
.toc a.mid::after,
.toc a.bad::after {
  content: '';
  background: $picnic-success;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: right;
  margin: 14px 6px 0 0;
  opacity: 0.4;
  position: absolute;
  right: 10px;
}

.toc li ul a.good::after,
.toc li ul a.mid::after,
.toc li ul a.bad::after {
  opacity: 0.2;
}

.toc a.mid::after {
  background: $picnic-warning;
}

.toc a.bad::after {
  background: $primary-color;
}

.toc a:hover {
  color: #0074d9;
  background: #eee;
}

.toc ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.toc li {
  padding: 0 0 0 30px;
  line-height: 2;
  margin: 0;
  position: relative;
}

.toc li li {
  margin-left: -15px;
}

.toc .more {
  position: absolute;
  left: 0;
  top: 5px;
  transition: all .3s ease;
  font-size: 30px;
  line-height: 24px;
  height: 30px;
  text-align: center;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  transform-origin: 50% 50% 0;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toc .more:hover {
  color: #0074d9;
  background: #eee;
}

.toc .active > .more {
  transform: rotateZ(90deg);
}

.toc .more ~ ul {
  max-height: 0;
  overflow: hidden;
  transition: all .3s ease;
}

.toc .active > .more ~ ul {
  max-height: 1000px;
}
