$picnic-radius: 0;
$picnic-breakpoint: 700px;

@import "../../node_modules/picnic/src/picnic.scss";
@import "./prism";

@import "./toc";


nav .menu > * {
  margin: 0;
}

@media all and (min-width: #{$picnic-breakpoint}) {
  nav .menu {
    padding-right: .6em;
  }
}

.external {
  box-shadow: none;
  padding-left: 35px;
  margin-top: 35px;
  position: relative;
}

.external::before {
  content: '“';
  font-size: 3.5em;
  font-family: serif;
  line-height: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 0;
}

pre,
pre[class*="language-"] {
  margin-top: 0;
  padding: .5em .8em;
  font-size: 1.2em;
  line-height: 1.3;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
  background: none;
}





.from-h3 .button::before {
  content: "- ";
}

nav {
  padding-left: calc(50% - 450px);
  padding-right: calc(50% - 450px);
  margin: 0 auto;
}

nav.wide {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

:not(.extra.docs) ~ nav.transparent {
  background: none;
  box-shadow: none;

  a, a.pseudo, .burger {
    color: #fff;
  }
}

.extra.docs ~ nav {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

@media all and (max-width: $picnic-breakpoint) {
  nav.transparent .menu a.pseudo {
    color: #333;
  }
}

nav.instant,
nav.instant * {
  transition: all 0s!important;
}

nav .brand {
  padding: 0 .5em;
}

nav .burger {
  margin-right: .5em;
}

nav .brand .logo {
  margin-right: 1em;
}

body {
  background-image: linear-gradient(135deg, #81c, #18c);
  background-size: cover;
  background-attachment: fixed;
  padding-top: 3em;
}

article {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background: #fff;
}

article.documentation {
  max-width: 1200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

article img {
  max-width: 100%;
}

.hero {
  position: relative;
  width: 100%;
  height: 50%;
  min-height: 300px;
  margin: 0;
  text-align: center;
  color: #fff;
  padding: 1px 0;
  transition: min-height 999999s, height 999999s;
}

.hero .content {
  padding: 10px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: 0 auto;
}

.hero .arrow {
  font-size: .7em;
  font-weight: 100000;
  transform: scaleX(1.3);
  display: inline-block;
  margin: 0 0 0 10px;
}
.hero .button .arrow {
  transform: scaleX(1.3) translateY(-1px);
}
.hero .arrow.left {
  margin: 0 10px 0 0;
}

article {
  margin-top: 0;
  padding: 2em;
  padding-bottom: 30vh;
}

article table {
  margin: 1.5em 0 .5em;
  width: 100%;
}

article table th {
  background: none;
  color: #333;
}

article table tr:nth-child(2n) {
  background: none;
}

article table th,
article table td {
  border: 2px solid #ddd;
}

.hero h1 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.sub {
  margin: 0;
}

pre.sub {
  display: inline-block;
  padding: 5px 15px;
  text-align: left;
  font-size: 1.4em;
  font-family: monospace;
  font-weight: 300;
  border-radius: 0;
  background: rgba(255, 255, 255, .1);
}

@media print {
  body {
    padding: 0;
  }
  nav {
    display: none;
  }
  .hero, .hero .content {
    position: static;
    height: auto;
    min-height: 0;
    top: auto;
    left: auto;
    transform: none;
  }
  .hero .button {
    display: none;
  }
  pre {
    border: 2px solid #ddd;
  }

  #keep-reading,
  #keep-reading ~ * {
    display: none;
  }

  h1::after {
    content: "Tutorial for server.js: https://serverjs.io/";
    display: block;
    font-size: 1rem;
  }

  pre[class*="language-"] {
    position: relative;
    overflow: visible;
    margin-top: 30px;
  }

  pre[class*="language-"]::before {
    content: attr(data-language);
    position: absolute;
    top: 0;
    right: 0;
    font-size: .6em;
    padding: 1px 5px;
    border: 2px solid #ddd;
    border-radius: 0 .4em;
    border-width: 0 0 2px 2px;
  }
}



button.secret {
  display: none;
}

@media all and (min-width: 800px) {
  body {
    font-size: 1.15em;
  }

  .hero .content {
    width: auto;
    max-width: 100%;
  }
  .hero h1 {
    font-size: 2.3em;
  }
  .hero p,
  .sub {
    font-size: 1.2em;
    margin: 5px 0;
  }

  button.secret {
    display: block;
    background: none;
    color: rgba(255, 255, 255, .03);
    margin: 0 auto -50px;
    cursor: inherit;
  }

  button.secret:focus {
    box-shadow: none;
    color: rgba(255, 255, 255, .05);
  }

  button.secret:hover {
    box-shadow: none;
    background: rgba(255, 255, 255, .5);
    color: rgba(0, 0, 0, .5);
    transition: all .3s ease .3s;
  }


  body.liftoff {
    background: #000 url("/img/lanterns.jpg") no-repeat center center scroll;
    background-size: cover;
    transition: all 1s ease;
  }

  body.liftoff .hero {
    background: none;
  }

  .docs {
    padding: .4em 1em;
  }
}

.button {
  background: #f55;
}

.hero .button {
  font-weight: bold;
  margin: 0 5px 5px 0;
  background: #f55;
}

/* p only if it's the first elementc */
article > p:first-child {
  margin-top: 0;
}

/*tighten up*/
article h1,
article h2,
article h3 {
  margin: -60px 0 0;
  padding-top: 80px;
  padding-bottom: 0;
}

.documentation h1 {
  margin-top: -101px;
  padding-top: 100px;
  line-height: 1;
}

article h1 + *,
article h2 + *,
article h3 + * {
  margin-top: .6em;
}

@media all and (max-width: 900px) {
  article {
    padding: 20px;
    width: 100%;
    border-radius: 0;
  }
}


.pages {
  text-align: center;
  margin: 10px auto 0;
}
.pages .button {
  margin-right: .3em;
}

#keep-reading {
  margin-top: 1em;
}

article .pages {
  text-align: left;
}
