extends ../documentation

block title
  +title('Middleware documentation')

block description
  +description('Write and use middleware to make things easier with server.js.')

block article
  include:marked ./README.md

  h2#keep-reading Keep reading

  p Once you master the middleware there are few topics to keep going on:

  div.pages
    a.button(href="../options") Options
    a.button(href="../router") Router
    a.button(href="../advanced") Advanced
