extends ../documentation

block title
  +title('Context documentation')

block description
  +description('All of the properties of the argument for the middleware.')

block article
  include:marked ./README.md
